{% extends "base.html" %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
<table width="100%">
  	<tr>
	    <td align="left" valign="top">
	    	Username: {{name}}
	    </td>

	    <td align="right" valign="top">
	    	<form action="/search" name="query" method="GET">
				<input type="text" name="search" placeholder="Search Stories">
	    	</form>
	    </td>
	</tr>

	<tr>
		<td>
			<form action="/logout" name="logout" method="POST">
				<button type="submit" name="logout">
					Logout
				</button>
			</form>
		</td>
	</tr>
</table>

<center>

<br><br>

  
</center>
{% endblock %}
